@import "bootstrap/scss/bootstrap";
@import "variables";

header {
  text-align: right;
  a {
    display: inline-block;
    margin-right: 10px;
  }
}

.has-danger {
  .subtext {
    color: $red;
  }
}

.error {
  color: $red;
}
